body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logtable th {
    text-align:center;
    font-weight:bolder;
    padding:2px;
    cursor:pointer;
    background-color:#d9edf7;
}

.logtable {
    font-size: 10pt;
     padding:4px;
}

.logtable td {
   padding:4px;
} 

#DocsTable_paginate a {
    cursor:pointer;
    margin-right: 20px;
}